body {
    background: url("https://cdn.spacetelescope.org/archives/images/screen/heic1713a.jpg");
    background-attachment: fixed;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Orbitron, Arial, san-serif;
    font-size: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(180, 193, 207);
    text-shadow: 5px 5px 2px rgb(97, 80, 80);
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
}

#user-weight {
    width: 300px;
    height: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(104, 106, 107, 0.479);
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}

#planets {
    width: 305px;
    height: 35px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgba(104, 106, 107, 0.479);
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}

#calculate-button {
    width: 305px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgba(104, 106, 107, 0.479);
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}

#output {
    font-family: Play, Arial, sans-serif;
    color: rgb(245, 245, 245);
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(97, 80, 80);
}

img {
    display: flex;
    float: right;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin-bottom: 200px;
    margin-right: 100px;

}
