body {
    background: url("https://cdn.spacetelescope.org/archives/images/screen/heic1713a.jpg")
}

.title {
    display: flex;
    justify-content: center;
    font-family: Orbitron, Arial, san-serif;
    font-size: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(180, 193, 207);
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
}

#user-weight {
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
}

#planets {
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
}

#calculate-button {
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
}

#output {
    font-family: Play, Arial, sans-serif;
    color: rgb(245, 245, 245);
    font-size: 30px;
}
