body {
    background: url("https://cdn.spacetelescope.org/archives/images/screen/heic1713a.jpg")
}

.title {
    display: flex;
    justify-content: center;
    font-family: Orbitron, Arial, san-serif;
    font-size: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(180, 193, 207);
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
}

#user-weight {
    width: 250px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(104, 106, 107, 0.479);
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}

#planets {
    width: 255px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgba(104, 106, 107, 0.479);
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}

#calculate-button {
    width: 255px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgba(104, 106, 107, 0.479);
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
}

#output {
    font-family: Play, Arial, sans-serif;
    color: rgb(245, 245, 245);
    font-size: 30px;
}
